body{
    width: 1440px;
    font-family: "Poppins", sans-serif;
  }
  *{
    padding: 0;
    margin: 0;
  }
  .main{
    background-color: var(--purpule);
  }
  :root{
    --black-700: #000;
    --purpule:#3B2A9F;
    --white:#ffffff;
    --secondary:#FA8305;
    --primary2-100:#5141AA;
    --gray:#898989;
    --brown:#1C140F;
    --gray2:#D2D2D2;

  }
 

  .background-1{
    background-color: var(--purpule);
}
.width-1440{
    width: 1440px;
}
.font-poppins{
    font-family: Poppins;
}
.font-w-400{
    font-weight: 400;
}
.navbar-brand.font-s-29{
    font-size: 29px;
}
.navbar-brand.font-w-800{
    font-weight: 700;
}
.height-100{
    height: 100px;
}
.navbar-brand.ml-58{
    margin-left: 47px;
}
.navbar-brand.mt-12{
    margin-top:px;
}
.light-button{
    font-weight: 400px;
    font-size: 13px;
    width: 131.66px;
    height: 41.34px;
    margin-right: 48px;
}
.mt-25{
    margin-top: 10px;
}
.mr-32{
    margin-right: 25px;
}
.mr-59{
    margin-left: 520px;
}
.ml-88{
    margin-left: 88px;
}
.btn.btn-background{
    font-weight: 400px;
    font-size: 13px;
    line-height: 19.5px;
    margin-top: 20px;
    background-color: var(--secondary);
}

.first-section-left{
  width: 527px;
  height: 510px;
  margin-top: 203px;
  margin-left: 147px;
  background-color: var(--purpule);
}
#first-section-left-p1{
  width: 273px;
  height: 31px;
  left: 147px;
  font-weight: 700;
  font-size: 20px;
  line-height: 31.04px;
  color: #FA8305;
}
#first-section-left-p2{
  width: 479.63px;
  height: 234px;
  font-weight: 700;
  font-size: 50px;
  line-height: 77.6px;
  color: #ffffff;
  margin-top: 17px;
  margin-bottom: 26px;
}
#first-section-left-p3{
  width: 527px;
  height: 101px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 26px;
  margin-bottom: 28px;
}
.getmore{
  width: 195px;
  height: 53px;
  margin-top: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color:var(--white);
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 40px;
}
.first-section-right #image1{
  width: 806px;
  height: 761px;
  margin-left: 36px;
}
.unity{
  width: 96px;
  height: 30px;
  top: 409px;
  left: 610px;
  right: 27px;
}
.cry{
  width: 101px;
  height: 99px;
  top: 202px;
  left: 828px;
}
.unreal{
  width: 59px;
  height: 64px;
  top: 218px;
  left: 1168px;
}
#seconde-section-p1{
  font-weight: 700;
  font-size: 31px;
  line-height: 58.13px;
  margin-left: 148px;
  margin-top: 150px;
  color:var(--white);
}
#seconde-section-button{
  width: 139px;
  height: 57px;
  border-radius: 10px;
  background-color: var(--primary2-100);
  border: 1px solid var(--primary2-100);
  color:var(--white);
  font-weight: 500px;
  font-size: 20px;
  line-height: 37.5px;
  margin-top: 150px;
}
.threed-section-card{
  width: 251px;
  background-color: var(--purpule);
  margin-left: 148px;
  margin-top: 57px;
}
.threed-section-img{
  width: 251px;
  height: 277px;
  border-radius: 20px;
}
.fire-img{
  width: 25px;
 height: 25px;
}

.card-body:hover >img{
  -ms-transform: scale(2);
  transform: scale(2);
}
.card-text{
  width: 136px;
  height: 41px;
  font-weight: 500;
  font-size: 22px;
  line-height: 41.25px;
  color: var(--white);
}
.threed-section-card1{
  width: 251px;
  background-color: var(--purpule);
  margin-top: 57px;
}
.four-section-p{
  font-weight: 600;
  font-size: 35px;
  line-height: 65.63px;
  margin-top: 129px;
}
.five-section-p1{
  font-weight: 600;
  font-size: 30px;
  line-height: 56.25px;
  margin-left: 148px;
  margin-top: 67px;
}
.five-section-p2{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-left: 148px;
  margin-top: 32px;
}
.img-sixth-section{
  width: 196px;
  height: 154px;
  margin-left: 972px;
}
.img2-sixth-section{
  width: 1146px;
  height: 462px;
  border-radius: 5px;
  left: 148px;
  top: -100px;
}
.seventh-section{
  width: 1170px;
  height: 678px;
  left: 135px;
  top: 148; 
}
.seventh-section-p1{
  font-weight: 700;
  font-size: 30px;
  line-height: 56.25px;
}
.seventh-section-p2{
  font-weight: 400;
  font-size: 14px;
  line-height: 26.25px;
}
#seven-img-up1{
  width: 382px;
  height: 223px;
  border-radius: 20px;
  margin-top: 71px;
}
#seven-img-up2{
  width: 352px;
  height: 223px;
  border-radius: 20px;
  margin-top: 71px;
}
#seven-img-down1{
  width: 246px;
  height: 223px;
  border-radius: 20px;
  margin-top: 33px;
}
#seven-img-down2{
  width: 401px;
  height: 223px;
  border-radius: 20px;
  margin-top: 33px;
}
#seven-img-down3{
  width: 469px;
  height: 223px;
  border-radius: 20px;
  margin-top: 33px;
}
.eighth-section-button{
  width: 139px;
  height: 57px;
 /* border-radius: 10px; */
  background-color: var(--primary2-100);
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 37.5px;
  border: 1px solid var(--primary2-100);
  margin-left: 651px;
  margin-top: 72px;
}
.ninth-section{
  width: 1170px;
  height: 392px;
  margin-top: 105px;
  margin-left: 136px;
}
.ninth-section-p1{
  font-weight: 600;
  font-size: 30px;
  line-height: 56.25px;
  
}
.ninth-section-p2{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 32px;
}
.ninth-section-box{
  width: 1170px;
  height: 189px;
  margin-top: 74px;
  border-radius: 15px;
  background-color:var(--brown);
}
.ninth-section-box-p1{
  margin-top: 40px;
  margin-left: 56px;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}
.ninth-section-box-p2{
margin-top: 10px;
margin-left: 56px;
font-weight: 400;
font-size: 17px;
line-height: 25.5px;
}
.email{
  width: 385.68px;
  height: 48px;
  border-radius: 8px;
  margin-top: 71px;
  margin-left: 150px;
  background-color: var(--white);
}
.email-p{
  padding-top: 14px;
  margin-left: 20.55px;
  font-weight: 300;
  font-size: 13px;
  line-height: 19.5px;
  color: var(--gray);
}
.email-button{
  width: 105px;
  height: 37px;
  margin-top: 6px;
  margin-left: 98.8px;
  background-color: var(--secondary);
  /*color: #ffffff;*/
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  border: 1px solid var(--secondary);
}
