body{
    width: 1440px;
    font-family: "Poppins", sans-serif;
  }
  *{
    padding: 0;
    margin: 0;
  }
  :root{
    --black-700: #000;
    --purpule:#3B2A9F;
    --white:#ffffff;
    --secondary:#FA8305;
    --primary2-100:#5141AA;
    --gray:#898989;

  }
  .page-header{
    width: 1438.77px;
    height: 100px;
    background-color: var(--purpule);
  }