body{
    width: 1440px;
    font-family: "Poppins", sans-serif;
  }
  *{
    padding: 0;
    margin: 0;
  }
  .main{
    background-color: var(--purpule);
  }
  :root{
    --black-700: #000;
    --purpule:#3B2A9F;
    --white:#ffffff;
    --secondary:#FA8305;
    --primary2-100:#5141AA;
    --gray:#898989;

  }
  .page-header{
    width: 1438.77px;
    height: 100px;
    background-color: var(--purpule);
  }
  .logo{
    padding-left: 58.95px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 551.53px;
    font-weight: 800;
    font-size: 29px;
    line-height: 44.51px;
    color:var(--white);
  }
  .group1{
    gap: 88px;
    width: 505.41px;
    height: 22.4px;
    top: 40px;
    margin-top: 40px;
    margin-bottom: 35.8px;
  }
  .a1{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--white);
  }
  .group3{
    gap: 3px;
    padding-top: 2px;
    padding-bottom: 25px;
    margin-left: -15px;
  }
  .group3 #rec1{
    background-color:var(--secondary);
    width: 30.97px;
    height: 4px;
    border-radius: 20px;
    top: 71px;
    left: 692.64px;
  }
  .group3 #rec2{
    width: 5px;
    height: 4px;
    border-radius: 20px;
    background-color:var(--secondary);
  }
  .group2{
    margin-top: 32px;
    margin-bottom: 26.66px;
    margin-right: 59.18px;
    margin-left: 36.18px;
  }
  .group2 #bar{
  width: 131.66px;
  height: 41.34px;
  top: 32px;
  left: 1248.16px;
  border-radius: 6px;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color:var(--white);
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
}
.first-section-left{
  width: 527px;
  height: 510px;
  margin-top: 203px;
  margin-left: 147px;
  background-color: var(--purpule);
}
#first-section-left-p1{
  width: 273px;
  height: 31px;
  left: 147px;
  font-weight: 700;
  font-size: 20px;
  line-height: 31.04px;
  color: #FA8305;
}
#first-section-left-p2{
  width: 479.63px;
  height: 234px;
  font-weight: 700;
  font-size: 50px;
  line-height: 77.6px;
  color: #ffffff;
  margin-top: 17px;
  margin-bottom: 26px;
}
#first-section-left-p3{
  width: 527px;
  height: 101px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 26px;
  margin-bottom: 28px;
}
.getmore{
  width: 195px;
  height: 53px;
  margin-top: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color:var(--white);
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 40px;
}
.first-section-right #image1{
  width: 806px;
  height: 761px;
  margin-left: 36px;
}
.unity{
  width: 96px;
  height: 30px;
  top: 409px;
  left: 610px;
  right: 27px;
}
.cry{
  width: 101px;
  height: 99px;
  top: 202px;
  left: 828px;
}
.unreal{
  width: 59px;
  height: 64px;
  top: 218px;
  left: 1168px;
}
#seconde-section-p1{
  font-weight: 700;
  font-size: 31px;
  line-height: 58.13px;
  margin-left: 148px;
  margin-top: 150px;
  color:var(--white);
}
#seconde-section-button{
  width: 139px;
  height: 57px;
  border-radius: 10px;
  background-color: var(--primary2-100);
  border: 1px solid var(--primary2-100);
  color:var(--white);
  font-weight: 500px;
  font-size: 20px;
  line-height: 37.5px;
  margin-top: 150px;
}
.threed-section-card{
  width: 251px;
  
  background-color: var(--purpule);
  margin-left: 148px;
  margin-top: 57px;
}
.threed-section-img{
  width: 251px;
  height: 277px;
  border-radius: 20px;
}
.fire-img{
  width: 25px;
 height: 25px;
}

.card-body:hover >img{
  -ms-transform: scale(2);
  transform: scale(2);
}
.card-text{
  width: 136px;
  height: 41px;
  font-weight: 500;
  font-size: 22px;
  line-height: 41.25px;
  color: var(--white);
}
.threed-section-card1{
  width: 251px;
  background-color: var(--purpule);
  margin-top: 57px;
}
.four-section-p{
  font-weight: 600;
  font-size: 35px;
  line-height: 65.63px;
  margin-top: 129px;
}
.five-section-p1{
  font-weight: 600;
  font-size: 30px;
  line-height: 56.25px;
  margin-left: 148px;
  margin-top: 67px;
}
.five-section-p2{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-left: 148px;
  margin-top: 32px;
}
.img-sixth-section{
  width: 196px;
  height: 154px;
  margin-left: 972px;
}
.img2-sixth-section{
  width: 1146px;
  height: 462px;
  border-radius: 5px;
  left: 148px;
  top: -100px;
}
